:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.content ul {
  list-style: none;
}
.content ul li {
  margin-top: 20px;
}

.teaser {
	display: flex;
	gap: 10px;
	margin-top: 50px;
}
.teaser .textContent {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50%;
}
.teaser .textContent h4 {
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 0;
}
.teaser .textContent p {
	margin: 0;
}
.teaser .image {
	width: 50%;
	display: flex;
	overflow: hidden;
}
.teaser .image img {
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}
.teaser .buttons {
	margin-top: auto;
	margin-bottom: 20px;
}
.teaser .buttons a {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 20px;
	padding: 5px 13px 7px 13px;
	background-color: blue;
	border-radius: 100px;
	text-decoration: none;
}
